<!DOCTYPE html>
<html th:replace="~{layout :: layout(~{::title }, ~{::main})}">

<head>
  <title th:text="#{detalhar.title}"></title>
</head>
<body>
  <main class="container">
    <div class="row">
      <div class="col-sm-12">
        <h1 th:text="#{detalhar.header}"></h1>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="card">
          <h5 class="card-header" th:text="${cliente.nome}"></h5>
          <div class="card-body">
            <p>Profissão: <span th:text="${cliente.profissao}"></span></p>
            <p>Data de Nascimento: <span th:text="${cliente.dataNascimento}"></span></p>
            <div class="row">
              <div class="col-sm-12">
                <a th:href="@{/cliente}" class="btn btn-primary" th:text="#{detalhar.botao.cadastro}"></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</body>
</html>